bosch/standard-adapter/src/META-INF/wsdl/StandardAdapterEndpoint/rb-tmp-dev.de.bosch.com/tsr/TH/INT/HL7/Custom2.5/QVR_Q17.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    v2.xml Message Definitions Version v25  - QVR_Q17
    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml"
            xmlns:hl7="urn:com.sun:encoder-hl7-1.0"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:hl7-org:v2xml"
            jaxb:version="2.0">

    <!-- include segment definitions for version v2.5 -->
  <xsd:include schemaLocation="segments.xsd"/>

    <xsd:annotation>
	       <xsd:appinfo source="urn:com.sun:encoder">
	           <encoding xmlns="urn:com.sun:encoder" name="HL7 v2 Encoding"
                      namespace="urn:com.sun:encoder-hl7-1.0"
                      style="hl7encoder-1.0"/>
	       </xsd:appinfo>
    </xsd:annotation>

    <!--
    MESSAGE QVR_Q17
-->
  <!-- .. groups used in message QVR_Q17 -->
  <xsd:complexType name="QVR_Q17.QBP.CONTENT">
        <xsd:sequence>
            <xsd:element ref="QVR_Q17.QBP" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="QVR_Q17.QBP" type="QVR_Q17.QBP.CONTENT"/>

    <!-- .. message definition QVR_Q17 -->
  <xsd:complexType name="QVR_Q17.CONTENT">
        <xsd:sequence>
            <xsd:element ref="MSH" minOccurs="1" maxOccurs="1"/>
            <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="UAC" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="QPD" minOccurs="1" maxOccurs="1"/>
            <xsd:element ref="QVR_Q17.QBP" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="RCP" minOccurs="1" maxOccurs="1"/>
            <xsd:element ref="DSC" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="QVR_Q17" type="QVR_Q17.CONTENT">
        <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <top xmlns="urn:com.sun:encoder">true</top>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>