bosch/standard-adapter/WEB-INF/classes/META-INF/wsdl/IntegrationConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns="http://integration.tmp.bosch.com/validation"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://integration.tmp.bosch.com/validation">
    <xs:complexType name="values">
        <xs:sequence>
            <xs:element ref="value" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="configValues">
        <xs:sequence>
            <xs:element ref="configValue" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="id"/>
    </xs:complexType>
    <xs:element name="configValue">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute ref="id"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="validations">
        <xs:sequence>
            <xs:element ref="validation" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validation">
        <xs:choice>
            <xs:element ref="values"/>
            <xs:sequence>
                <xs:element ref="value"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="fault"/>
                    <xs:element ref="faults"/>
                </xs:choice>
            </xs:sequence>
        </xs:choice>
        <xs:attribute ref="type" use="required"/>
        <xs:attribute ref="id"/>
    </xs:complexType>
    <xs:complexType name="segments">
        <xs:sequence>
            <xs:element ref="segment" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="segment">
        <xs:sequence>
            <xs:element ref="configValues"  minOccurs="0"/>
            <xs:element ref="configValue" minOccurs="0"/>
            <xs:element ref="validations" minOccurs="0"/>
            <xs:element ref="fields" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute ref="id" use="required"/>
    </xs:complexType>
    <xs:complexType name="messages">
        <xs:sequence>
            <xs:element ref="message" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="message">
        <xs:sequence>
            <xs:element ref="inType" minOccurs="0"/>
            <xs:element ref="outType" minOccurs="0"/>
            <xs:element ref="ackNumOfLevels" minOccurs="0"/>
            <xs:element ref="ackPrecedenceType" minOccurs="0"/>
            <xs:element ref="validations" minOccurs="0"/>
            <xs:element ref="segments" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute ref="id" use="required"/>
    </xs:complexType>
    <xs:complexType name="fields">
        <xs:sequence>
            <xs:element ref="field" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="field">
        <xs:sequence>
            <xs:element ref="configValues" minOccurs="0"/>
            <xs:element ref="configValue" minOccurs="0"/>
            <xs:element ref="validations" minOccurs="0"/>
            <xs:element ref="dataTypes" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute ref="id" use="required"/>
    </xs:complexType>
    <xs:complexType name="faults">
        <xs:sequence>
            <xs:element ref="fault" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fault">
        <xs:sequence>
            <xs:element ref="faultInternalCode"/>
            <xs:element ref="faultInternalMessage"/>
            <xs:element ref="faultExternalCode"/>
            <xs:element ref="faultExternalMessage"/>
            <xs:element ref="segmentName"/>
            <xs:element ref="fieldNumber"/>
            <xs:element ref="componentNumber"/>
        </xs:sequence>
        <xs:attribute ref="id"/>
    </xs:complexType>
    <xs:complexType name="dataTypes">
        <xs:sequence>
            <xs:element ref="dataType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dataType">
        <xs:sequence>
            <xs:element ref="configValues" minOccurs="0"/>
            <xs:element ref="configValue" minOccurs="0"/>
            <xs:element ref="validations" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute ref="id" use="required"/>
    </xs:complexType>
    <xs:complexType name="configuration">
        <xs:sequence>
            <xs:element ref="messages"/>
            <xs:element ref="segments"/>
            <xs:element ref="fields"/>
            <xs:element ref="dataTypes"/>
            <xs:element ref="application"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="application">
        <xs:sequence>
            <xs:element ref="faults"/>
            <xs:element ref="configValue" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="configValues" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="customerId"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="customerId">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VA"/>
            <xs:enumeration value="MCKESSON"/>
            <xs:enumeration value="SA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MANDATORY"/>
            <xs:enumeration value="VALID_VALUE"/>
            <xs:enumeration value="FIELDLENGTH"/>
            <xs:enumeration value="DATE_FORMAT"/>
            <xs:enumeration value="DATE_CHECKER"/>
            <xs:enumeration value="MULTIPLE_SEGMENTS"/>
            <xs:enumeration value="VA_MPI_CONSISTENCY"/>
            <xs:enumeration value="PATTERN"/>
            <xs:enumeration value="MISSING_IDENTIFIER"/>
            <xs:enumeration value="VA_MISSING_NAME"/>
            <xs:enumeration value="VA_DFN_FACILITY"/>
            <xs:enumeration value="VA_ID_CONSISTENCY"/>
            <xs:enumeration value="VA_PID_COUNT"/>
            <xs:enumeration value="VA_SERVICE_FACILITY_MAPPING"/>
            <xs:enumeration value="UNSUPPORTED_TRIGGER"/>
            <xs:enumeration value="MISSING_MSG_ACK"/>
            <xs:enumeration value="PING_MESSAGE"/>
            <xs:enumeration value="QUERYCODE"/>
            <xs:enumeration value="QUERYTYPE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attribute name="type" type="type"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:element name="values" type="values"/>
    <xs:element name="value" type="xs:string"/>
    <xs:element name="validations" type="validations"/>
    <xs:element name="validation" type="validation"/>
    <xs:element name="configValues" type="configValues"/>
    <xs:element name="segments" type="segments"/>
    <xs:element name="segment" type="segment"/>
    <xs:element name="outType" type="xs:string"/>
    <xs:element name="messages" type="messages"/>
    <xs:element name="message" type="message"/>
    <xs:element name="inType" type="xs:string"/>
    <xs:element name="fields" type="fields"/>
    <xs:element name="field" type="field"/>
    <xs:element name="faults" type="faults"/>
    <xs:element name="faultInternalMessage" type="xs:string"/>
    <xs:element name="faultInternalCode" type="xs:string"/>
    <xs:element name="faultExternalCode" type="xs:string"/>
    <xs:element name="faultExternalMessage" type="xs:string"/>
    <xs:element name="segmentName" type="xs:string"/>
    <xs:element name="fieldNumber" type="xs:string"/>
    <xs:element name="componentNumber" type="xs:string"/>
    <xs:element name="fault" type="fault"/>
    <xs:element name="dataTypes" type="dataTypes"/>
    <xs:element name="dataType" type="dataType"/>
    <xs:element name="customerId" type="customerId"/>
    <xs:element name="configuration" type="configuration"/>
    <xs:element name="application" type="application"/>
    <xs:element name="ackPrecedenceType" type="xs:string"/>
    <xs:element name="ackNumOfLevels" type="xs:int"/>
</xs:schema>